.contact_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    margin-top: 160px;
}

.call {
    margin-bottom: 160px;
}

.danger {
    display: flex;
    margin-top: 40px;
}