@import'../../../styles/breakepoints';

.listPerfomanse {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    list-style-type: none;
    background-color: #f2faef8c;
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 80px;
    @include bp-320 {
        padding: 20px;
    }
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.item {
    display: flex;
    max-width: 100%;
    margin-bottom: 30px;
    text-align: left;
}

.icon {
    margin-right: 10px;
}

.description {
    font-size: 22px;
}

.btn_anchor {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    background-color: #2a587f;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
    margin: 0 auto;
}