@import '../../../styles/breakepoints';

.home_img {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    height: 878px;
}

.img_wrapper{
    width: 730px;
    height: 700px;
    border-radius: 10px;
    @include bp-743 {

        width: 90vw;
        height: 700px;
        border-radius: 10px;
        margin: 0 auto;
        
    }
    @include bp-320{
        width: 90vw;
        height: 300px;
        border-radius: 10px
    }

}

.price {

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;
    width: 200px;
    height: 60px;

    background-color: #2a587f;;
    color: rgb(255, 255, 255);

    margin-top: 40px;

    border-radius: 10px;
}